.main-background {
    position: relative;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper-v {
    display: flex;
    flex-direction: column;
}

.background-v {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding-bottom: 5px;
}

.pink-background {
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    z-index: 2;
}

.first {
    color: rgba(255, 255, 255, 1);
    z-index: 10;
    max-width: 85vw;
    font-size: 3vw;
    cursor: pointer;
    line-height: 3vw;
}

.second {
    color: rgba(255, 255, 255, 0);
    z-index: 10;
    max-width: 85vw;
    font-size: 10vw;
    cursor: pointer;
    line-height: 10vw;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    paint-order: stroke fill;
}


.second:hover {
    color: rgba(255, 255, 255, 0.3);
}

.name-wrapper-center{
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-wrapper-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70vh;
    margin-left: 5vw;
}

.name-wrapper-right{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-top: 70vh;
    margin-right: 5vw;
}


.pink {
    color: #fdbebe;
}

.page_name {
    display: inline-flex;
    color: white;
    position: absolute;
    justify-content: center;
    top: 20vh;
    right: 50vw;
    transform: translateY(-50%) translateX(50%);
    z-index: 20;
    flex-wrap: wrap;
    white-space: nowrap;
    font-size: 2vw;
}

iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    width: 85vw;
    height: 80vh;
}

.iframe-wrapper {
    display: none;
    z-index: 101;
    top: 0;
    position: fixed;
}

.iframe-background {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #131313;
    opacity: 0.95;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* .left {

    left: 0;
    text-align: start;
}

.right {
    right: 0;
    text-align: end;
}

.center {
    width: 100%;    
    text-align: center;
} */
@media all 
and (max-device-width: 812px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2)
{
    .first {
        font-size: 6vw;
    }

    iframe {
        height: 30vh;
    }
}