.main-background {
    position: relative;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.wrapper-v {
    display: flex;
    flex-direction: column;
}

.background-v {
    min-width: 100%;
    min-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.Rudolf {
    position: absolute;
    left: 8vw;
    top: 30vh;
    /* font-size: 5.6vw; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 22vw;
    color: azure;

    /* align-items: center; */
    /* align-content: center; */
    justify-content: flex-start;
    /* transform: scale(1.8) */
}

.Director {
    position: absolute;
    right: 8vw;
    top: 30vh;
    /* font-size: 8vw; */
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 22vw;
    color: azure;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: flex-end;
    /* transform: scale(1.8) */
}

.stroke {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px rgba(255,255, 255, 1);
    paint-order: stroke fill;
}

.pink {
    color: #fdbebe;
}

@media all 
and (max-device-width: 812px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2)
{
    .main-background {
        height: 50vh;
    }
    .works-view {
        width: 100%;
    }
    .Director {
        top: 20vh;
        width: 30vw;
    }
    .Rudolf {
        top: 20vh;
        width: 30vw;
    }
}