.main-background {
    position: relative;
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.wrapper-v {
    display: flex;
    flex-direction: column;
}

.background-v {
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.music {
    color: azure;
    position: absolute;
    top: 50vh;
    left: 5vw;
    transform: translateY(-50%);
    z-index: 20;
    width: fit-content;

}

.music-b {
    font-size: 10vw;
    line-height: 7vw;
}

.music-s {
    font-size: 8.8vw;
}

.pink {
    color: #fdbebe;
}

.video-name {
    width: 100px;
    text-align: right;
    display: inline-flex;
    color: azure;
    position: absolute;
    justify-content: flex-end;
    top: 48vh;
    right: 5vw;
    z-index: 20;
    flex-wrap: wrap;
    white-space: nowrap;
    line-height: 1vw;
}

.video-s {
    font-size: 2vw;
}

.video-b {
    font-size: 2.5vw;
}

@media all 
and (max-device-width: 812px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2)
{
    .main-background {
        height: 100vh;
    }
    .works-view {
        width: 100%;
    }

    .music {
        display: flex;
        top: 93vh;
        width: 100%;
        left: 2vw;
        justify-content: center;
    }

    .music-s {
        font-size: 8vw;
    }
    .music-b {
        font-size: 8vw;
    }
    .video-name {
        width: 85vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .video-s {
        font-size: 5vw;
        line-height: 5vw;
    }
    .video-b {
        font-size: 5vw;
        line-height: 5vw;
    }
}