.cross {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    height: 50vh;
    justify-content: center;
    /* transform: translateY(-10px); */
    z-index: 60;
    align-items: center;
}

#cross {
    height: 34vh;
    width: auto;
    transition: all .2s ease-in-out;
}

.cross-name {
    color: white;
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
}

.cross-not-fixed {
    transform: translateY(-58%);
}

.name-not-fixed {
    transform: translateY(125%);
}

.wrapper-nav {
    display: flex;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    z-index: 10;
    align-content: center;
    justify-content: space-between;
    transition: all .1s ease-in-out;
    background-color: black;
    border-bottom: #fdbebe 1px;
    align-items: center;
}

#nav {
    transition: all .2s ease-in-out;
}


.nav {
    display: flex;
    flex-wrap: nowrap;
    height: 58%;
    align-items: top;
    width: 30%;
    justify-content: space-around;
}

.links-left {
    margin-left: 5vw;
}

.links-right {
    margin-right: 5vw;
}

.fixed {
    position: fixed;
    top: 0;
    height: 80px;
}

.filter-title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    transition: all .3s ease-in-out;
    height: 100px;
    z-index: 100;
}

.page-fixed {
    position:fixed;
    height: 100px;
    font-size: 20px;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
    padding: 0;
}