.cross {
    position: relative;
    display: flex;
    width: 20%;
    /* height: 40vh; */
    justify-content: center;
    /* transform: translateY(-10px); */
    z-index: 60;
    align-items: center;

}

.cross-show {
    height: 34vh;
    width: auto;
    transition: all .2s ease-in-out;
}

.cross-hide {
    opacity: 0;
    height: 0.1vh;
    transition: all .2s ease-in-out;
}

.cross-name-wrapper {
    opacity: 0;
    display: flex;
    width: 80%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}


.cross-name {
    color: white;
    position: absolute;
    display: flex;
    align-content: center;
    align-items: center;
    width: max-content;
}

.cross-name-transform {
    opacity: 1;
    transform: translateY(0vh);
    align-items: center;
    transition: all .2s ease-in-out;
    width: 90%;
}

#cross {
    height: 15vw;
    width: auto;
    transition: all .2s ease-in-out;
}


#nav {
    transition: all .2s ease-in-out;
}



.wrapper-nav {
    display: flex;
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    align-content: center;
    justify-content: space-between;
    transition: all .1s ease-in-out;
    /* background-color: #131313; */
    /* border-bottom: #fdbebe 1px; */
    align-items: center;
}

.nav {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

.links-left {
    margin-left: 5vw;
}

.links-right {
    margin-right: 5vw;
}

.fixed {
    position: fixed;
    top: 0;
    height: 100px;
    background-color: #131313;
    
}

.filter-title {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    transition: all .3s ease-in-out;
    height: 100px;
    background-color: #131313;
    z-index: 100;
}

.page-fixed {
    position:fixed;
    height: 100px;
    font-size: 20px;
    top: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
    padding: 0;
}

.menu-button {
    opacity: 0;
}

@media all 
and (max-device-width: 812px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2)
{

    .wrapper-nav {
        /* display: none; */
        height: 10vh;
    }
    .nav {
        display: none;
    }
    #cross {
        display: none;
    }
    .cross {
        width: 100%;
        height: 100%;
    }
    
    .cross-transf {
        transform: translateY(90px);
    }
    .cross-name-wrapper {
        opacity: 1;
    }
    .cross-name {
        opacity: 1;
        /* transform: translateY(-130%); */
        font-size: 8vw;
    }

    .cross-name-transform {
        /* transform: translateY(-130%); */
        width: 72%;
    }

    .menu-button{
        display: block;
        opacity: 0;
        z-index: 20;
        border: none;
        background: inherit;
        transition: all .3s ease-in-out;
    }

    .close-button{
        display: block;
        z-index: 201;
        border: none;
        background: inherit;
    }

    .burger {
        position: relative;
        display: block;
        height: auto;
        width: auto;
        color: inherit;
        margin: 0 20px 0 20px;
    }

    .burger-bar {
        display: block;
        height: 5px;
        width: 6vw;
        background: white;
        -webkit-transition: background .2s ease-in-out;
        transition: background .2s ease-in-out;
        will-change: transform;
    }

    .burger-bar:first-child {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    }

    .burger-bar:nth-child(2) {
        -webkit-transform: translate(0);
        transform: translate(0);
        -webkit-transition: opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
        transition: opacity .2s ease-in-out,-webkit-transform .2s ease-in-out;
        transition: opacity .2s ease-in-out,transform .2s ease-in-out;
        transition: opacity .2s ease-in-out,transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    }

    .burger-bar:nth-child(3) {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        -webkit-transition: -webkit-transform .2s ease-in-out;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    }

    .menu {
        position: absolute;
        top:0;
        right: 0;
        z-index: 200;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
    }

    .turn-off {
        display: none;
    }

    .rotate-135 {
        -webkit-transform: rotate(-135deg) translate(-2px, -1px);
        transform: rotate(-135deg) translate(-2px, -1px);
    }

    .rotate-45 {
        -webkit-transform: rotate(-45deg) translate(2px, -1px);
        transform: rotate(-45deg) translate(2px, -1px);
    }

    .menu-header {
        opacity: 0;
        position: fixed;
        height: 10vh;
        width: 100vw;
        background-color: #131313;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        transition: all .3s ease-in-out;
        transition: transform .3s ease-in-out,-webkit-transform .2s
    }

    .menu-show {
        opacity: 1    ;
        transition: all .3s ease-in-out;
    }

    .menu-links {
        position: fixed;
        top: 9vh;
        height: 91vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        background: #131313;
        margin-bottom: 50px;
    }

    .menu-wrapper {
        background-color: #131313;
        opacity: 0.9;
    }
}