.works-view {
    width: 100%;
    height: auto;
    z-index: 12;
}


.works-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    justify-content: space-between;
    justify-items: center;
    align-items: start;
    
}

.work-wrapper-big {
    height: 300px;
    width: 100%;
    cursor: url("cross.webp"), auto;
    
}

.work-wrapper-small {
    height: 300px;
    cursor: url("cross.webp"), auto;
    width: 100%;
}

.work-wrapper-one {
    height: 25vh;
    cursor: url("cross.webp"), auto;
    width: 100%;
}

.work-frame {
    width: 100%;
    height: 100%;
    margin: 0;
}

.frame-small {
    height: 75%;
}

.frame-one {
    height: 25vh;
}

.chamfer-20-all {
    -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
}

.chamfer-10-all {
    -webkit-clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
    clip-path: polygon(10px 0, calc(100% - 10px) 0, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px);
}
.chamfer-20-left {
    -webkit-clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 0px, 100% 100%, calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 0px, 100% 100%, calc(100% - 20px) 100%, 20px 100%, 0% calc(100% - 20px), 0% 20px);
}
.chamfer-20-right {
    -webkit-clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px));
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%, 0% calc(100% - 20px))
}

.no-chamfer {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.work-video-frame {
    height: 100%;
    width: 100%;
    z-index: 90;
    position: relative;
}

.work-title {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    transform: translate(0, -75px);
    height: 25%;
    width: 90%;
    margin-left: 5%;
    z-index: 0;
}

.title-small {
    color: white;
    transform: translate(0, 0);
    text-align: center;
}

.title-big {
    color: white;
    transform: translate(0, -75px);
    text-align: center;
}

.title-one {
    color: white;
    transform: translate(0, -100px);
    text-align: center;
}

.video {
    min-height: 135%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
}

.video-png:hover {
    opacity: 0;
}

iframe {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    width: 85vw;
    height: 80vh;
}

.iframe-wrapper {
    display: none;
    z-index: 101;
    top: 0;
    position: fixed;
}

.iframe-background {
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #131313;
    opacity: 0.95;
}

.show {
    display: block;
}

@media all 
and (max-width: 1320px) 
/* and (orientation:portrait)  */
/* and (-webkit-min-device-pixel-ratio: 2) */
{
    .works-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media all 
and (max-device-width: 812px) 
and (orientation:portrait) 
and (-webkit-min-device-pixel-ratio: 2)
{
    .works-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .works-view {
        width: 100%;
    }
    .works-container {
        margin-top: 0;
        gap: 0;
    }
    iframe {
        height: 30vh;
    }
}