{% extends 'admin/model/create.html' %}
{% block brand %}
<img src="{{ url_for('static', filename='img/cross.webp') }}">
{% endblock %}
{% block head_css %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/index.css') }}">
{% endblock %}
{% block messages %}
{{super()}}
<div class='text'>
    <a>* Uploading and processing video's can take around 2 minutes</a>
    <br>
    <a>** Long videos will affect on website perfomance</a>
</div>

{% endblock %}