{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/fonts.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dop-works.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar-opac2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/iframe-2.js') }}"></script>
<script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/docum-background.js') }}"></script>
{% endblock %}

{% block content %}

<div class='wrapper'>
    <a class="login-wrapper" href="{{ url_for('login') }}">
        <img href class='login-button' src="{{ url_for('static', filename='img/key.png') }}">
    </a>
    <!-- BACKGROUND -->
    {% for work in works %}
    {% if loop.index == 1 %}
        {% set class_wrapper = 'name-wrapper-center' %}
        {% set class_first = 'first font-acier uppercase video-link' %}
        {% set class_second = 'second font-ambidexter uppercase center video-link' %}
    {% else %}
        {% if (loop.index-1)%2 == 0 %}
            {% set class_wrapper = 'name-wrapper-left' %}
            {% set class_first = 'first font-acier uppercase video-link' %}
            {% set class_second = 'second font-ambidexter uppercase center video-link' %}
        {% else %}
            {% set class_wrapper = 'name-wrapper-right' %}
            {% set class_first = 'first font-acier uppercase video-link' %}
            {% set class_second = 'second font-ambidexter uppercase center video-link' %}
        {% endif %}
    {% endif %}
        <div class = 'main-background'>
            
                <div class="wrapper-v">
                    <video  class="background-v lazy" src="{{ work.video }}" playsinline autoplay muted loop id='background-v'></video>
                </div>
                <div class="{{ class_wrapper }}" >
                    <div class="{{ class_first }}" name='{{ work.video_embed }}'>
                        <a>{{ work.title_1 }}</a>
                    </div>
                    <div class="{{ class_second }}" name='{{ work.video_embed }}'>
                        <a>{{ work.title_2 }}</a>
                    </div>
                </div>
                <!-- <div class='{{ class_doc }}' >
                    DOP WORKS
                </div> -->
            <div class="pink-background">
            </div>
        </div>
    {% endfor %}
    

    <!-- NAVIGATION -->
    <div class='main-wrapper-nav'>
        <div class='wrapper-nav' id='nav'>
            <button class="menu-button" role="button">
                <span class="burger">
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                </span>
            </button>
            <div class='nav links-left'>
                <a class="font-acier fs-nav-links" href="{{ url_for('home') }}">HOME</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('commercials') }}">COMMERCIALS</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('music-videos') }}">MUSIC VIDEOS</a>
            </div>
            <div class="cross">
                <div class="cross-wrapper">
                    <img class="cross-show" src="{{ url_for('static', filename='img/cross-pink.png') }}" id="cross">
                </div>
                <div class="cross-name-wrapper">
                    <a class="cross-name font-ambidexter fs-name-s fit-size" id='filter-doc'>DOP WORKS</a>
                </div>
            </div>
            <div class='nav links-right'>
                <a class="font-acier fs-nav-links" href="{{ url_for('short-films') }}">SHORT FILMS</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('documentaries') }}">DOCUMENTARIES</a>
                <a class="font-acier fs-nav-links pink" href="{{ url_for('dop-works') }}">DOP WORKS</a>
            </div>
            <button class="menu-button" role="button">
                <span class="burger">
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                    <span class="burger-bar"></span>
                </span>
            </button>
        </div>
    </div>
    <!-- MOBILE MENU -->
    <div class='menu'>
        <div class='menu-wrapper black'>
            <div class='menu-header'>
                <div class='wrapper-nav'>
                    <button class="close-button" role="button">
                        <span class="burger">
                            <span class="burger-bar"></span>
                            <span class="burger-bar"></span>
                            <span class="burger-bar"></span>
                        </span>
                    </button>
                    <div class="cross">
                        <a class="cross-name font-ambidexter fs-name-s name-not-fixed fit-size" id='filter-name'>DOP WORKS</a>
                    </div>
                    <button class="close-button" role="button">
                        <span class="burger">
                            <span class="burger-bar"></span>
                            <span class="burger-bar"></span>
                            <span class="burger-bar"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="menu-links">
                <a class="font-acier fs-nav-links" href="{{ url_for('home') }}">HOME</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('commercials') }}">COMMERCIALS</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('music-videos') }}">MUSIC VIDEOS</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('short-films') }}">SHORT FILMS</a>
                <a class="font-acier fs-nav-links" href="{{ url_for('documentaries') }}">DOCUMENTARIES</a>
                <a class="font-acier fs-nav-links pink" href="{{ url_for('dop-works') }}">DOP WORKS</a>
            </div>
        </div>
    </div>
</div>
     <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer">
            <div class="contact font-acier">
                <a class="email">peter@rudolfkiss.com</a>
                <br>
                <a class="telephone">+36209445843</a>
            </div>
            <div class="logo">
                <img class="cross-logo" src="{{ url_for('static', filename='img/cross.webp') }}">
                
            </div>
            <div class="social-links">
                <img class="social-logo" src="{{ url_for('static', filename='img/facebook.png') }}">
                <img class="social-logo" src="{{ url_for('static', filename='img/twitter.png') }}">
                <img class="social-logo" src="{{ url_for('static', filename='img/youtube.png') }}">
                <img class="social-logo" src="{{ url_for('static', filename='img/vimeo.png') }}">
            </div>
        </div>
        <div class="name-logo">
            <img class="name-image" src="{{ url_for('static', filename='img/name.png') }}">
        </div>
    </div>
    <!-- MARQUEE -->
    <div class="marquee">
        <div class="track">
          <div class="font-acier">&nbsp;
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me 
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  
              /  contact  me  </div>
        </div>
    </div>
    <div class='iframe-wrapper'>
        <div class='iframe-background'></div>
        <iframe  id='vimeo' width="640" height="360" name='vimeo' frameborder="0" allowfullscreen></iframe>
    </div>

{% endblock %}
{% block content_extra %}
{% block videos %}
{% endblock videos %}
{% endblock content_extra %}
