{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class = 'main-background'>
        <div class="wrapper-v">
            <video class="background-v" src="{{ url_for('static', filename=background) }}" autoplay muted loop id='background-v'></video>

        </div>
        <div class='Rudolf font-ambidexter'>
            <span class="fs-name-s pink">RUDOLF</span>
            <span class="fs-name-b">KISS</span>
        </div>
        
        <div class='Director font-acier'>
            <span class="fs-pos-b">DIRECTOR/</span>
            <span class="fs-pos-s">CINEMATOGRAPHER</span>
        </div>
    </div>
    <div class="cross">
        <img src="{{ url_for('static', filename='img/cross.webp') }}" id="cross">
    </div>
    <div class='wrapper-nav'>
        <ul class='nav links-left'>
            <li class="font-acier fs-nav-links">New Stuff</li>
            <li class="font-acier fs-nav-links">Commercials</li>
            <li class="font-acier fs-nav-links">Cinema</li>
        </ul>
        <ul class='nav links-right'>
            <li class="font-acier fs-nav-links">Music Videos</li>
            <li class="font-acier fs-nav-links">Documantaries</li>
            <li class="font-acier fs-nav-links">Short Films</li>
        </ul>
    </div>
    <div class="works-view">
        <div class="filter-title">
            <span class="font-ambidexter fs-works-title">NEW STUFF</span>
        </div>
        <div class="works-container">
            {% for work in works %}
                
                {% if (loop.index-1)//3%2 == 0 %}     
                <!-- ONE BIG TWO SMALL -->
                    {% if loop.index%2 == 0 %}
                        {% set class_wrapper = 'work-wrapper-big' %}
                        {% set class_frame = 'work-frame chamfer-20-all' %}
                        {% set class_title = 'work-title title-big' %}
                    {% else %}
                        {% set class_wrapper = 'work-wrapper-small two' %}
                        {% set class_frame = 'work-frame frame-small chamfer-10-all' %}
                        {% set class_title = 'work-title title-small' %}
                    {% endif %}
                {% else %}
                <!-- TWO BIG ONE SMALL -->
                    {% if loop.index%2 == 0 %}
                        {% if (loop.index-1)%3 == 0 %}
                            {% set class_wrapper = 'work-wrapper-big' %}
                            {% set class_frame = 'work-frame chamfer-20-right' %}
                            {% set class_title = 'work-title title-big' %}
                        {% else %}
                            {% set class_wrapper = 'work-wrapper-big' %}
                            {% set class_frame = 'work-frame chamfer-20-left' %}
                            {% set class_title = 'work-title title-big' %}
                        {% endif %}
                    {% else %}
                        {% set class_wrapper = 'work-wrapper-small one' %}
                        {% set class_frame = 'work-frame frame-small chamfer-10-all' %}
                        {% set class_title = 'work-title title-small' %}
                    {% endif %}
                {% endif %}
                <div class="{{class_wrapper}}">
                    <div class="{{class_frame}}">
                        <div class="work-video-frame">
                            <img class='video-gif' src="{{ url_for('static' , filename = 'media/videos/' + work.name + '.gif') }}" />
                            <img class='video-png' src="{{ url_for('static' , filename = 'media/videos/' + work.name + '.png') }}" name="{{ work.video_embed }}"/>
                        </div>
                    </div>
                    <div class="{{class_title}}">
                        <!-- <p class="font-acier fs-nav-links"> -->
                            <span class="font-acier fs-work-title-sm">{{work.title_1}} </span>
                            <span class="font-acier fs-work-title-sm pink">&nbsp;/&nbsp;</span> 
                            <span class="font-acier fs-work-title-lg">{{work.title_2}}</span>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class='iframe-wrapper'>
        <div class='iframe-background'></div>
        <iframe  id='vimeo' width="640" height="360" name='vimeo' frameborder="0" allowfullscreen></iframe>
    </div>
{% endblock %}
<!-- src='https://player.vimeo.com/video/248956245' $('#vimeo').attr('src', link);-->
{% block content_extra %}
{% block videos %}
{% endblock videos %}
{% endblock content_extra %}
