.container {
    padding: 0;
    max-width: 100vw
}

.bg-dark {
  background-color: #131313 !important;
}

a {
  color: #131313;
}

.admin-form {
  padding-left: 20px;
  padding-right: 20px;
}

.text {
  padding-left: 20px;
  padding-right: 20px;
}

img {
  height: 30px;
  width: auto;
  padding-right: 5px;
}